{% extends 'base.html' %}

{% block content %}
    <h1>Hello World!</h1>
    <div class="container">
        <div class="row">
            {% for x in api %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://img0.sc115.com/uploads/shows/67/20120227194234589.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">{{ x.name }}</p>
                            <a href="{% url 'user' %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}